<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    document.getElementById('new_request').addEventListener('ajax:success', function(event) {
      const [data, status, xhr] = event.detail;
      if (xhr.getResponseHeader('Content-Type').indexOf('text/javascript') >= 0) {
        eval(data);
      }
    });
  });
</script>




<div id="request" class="big-bg">
  <div class="request-wrapper">
    <h2 class="request-title"><span>■</span>リクエスト</h2>
    <p>本の購入リクエストや貸出・返却についてなど何かございましたら、<br>
    以下のフォームよりお問い合わせください。</p>

    <%= form_with model: @request, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

      <div class="request-form">
        <div class="form-div">
          <label for="name">お名前：</label>
          <% if user_signed_in? %>
            <%= "#{@user.name}さん" %>
          <% end %>
        </div>

        <div class="form-div">
          <label for="request_type">お問合せ内容</label>
          <%= f.collection_select(:request_type_id, RequestType.all, :id, :name, {}, {class:"type-select"}) %>
        </div>

        <div class="form-div">
          <label for="request-message">お問合せ内容をご記入ください</label>
          <%= f.text_area :message, id:"message", class:"message", placeholder:"メッセージ" %>
        </div>

        <%= f.hidden_field :resolved, value: false %>

        <%= f.submit "送信" ,class:"btn" %>
      </div>
    <% end %>

    <%= link_to "リクエスト一覧", requests_path, class:"link" %>
    <div>
      <%= link_to "HOME", root_path, class:"link" %>
    </div>
  </div>
</div>