<div id="request" class="big-bg">

  <div class="request-wrapper">
    <h2 class="request-title">リクエスト</h2>

    <%= form_with model: @request, local: true do |f| %>
      <div class="request-form">
        <div>
          <label for="name">お名前</label>
          <%= "#{@user.name}さん" %>
        </div>

        <div>
          <label for="request_type">お問合せ内容</label>
          <%= f.collection_select(:request_type_id, RequestType.all, :id, :name, {}, {class:"type-select"}) %>
        </div>

        <div>
          <label for="request-message">メッセージ</label>
          <%= f.text_area :message, id:"message", class:"message", placeholder:"メッセージ" %>
        </div>

        <%= f.hidden_field :resolved, value: false %>

        <%= f.submit "送信" ,class:"btn" %>
      </div>
    <% end %>

    <%= link_to "リクエスト一覧", requests_path, class:"post" %>
  </div>

</div>