<%= render "shared/header" %>

<div class="main">
  <div class="main-contents">
    <div class="contents-title"><span>■</span>本を検索する</div>
    <p class="contents-text">BookHubに登録されている本を検索できます。</p>

    <div class="section-title">キーワード検索</div>
      <div class="book-search">
          <%= form_with(url: search_books_path, method: :get, local: true) do |f| %>
            <%= f.text_field :keyword, placeholder: "タイトル、キーワードなど", class: "keyword" %>
            <%= f.submit "検索", class: "search-btn" %>
            <%# <%= button_tag "クリア", class: "clear-search-btn" %>
          <% end %>
      </div>

    <div class="section-title">ジャンル検索</div>
    <ul class="genre-list">
      <li class="genre-menu"><%= link_to 'ビジネス書', '#' %></li>
      <li class="genre-menu"><%= link_to '技術書', '#' %></li>
      <li class="genre-menu"><%= link_to '雑誌', '#' %></li>
      <li class="genre-menu"><%= link_to 'その他', '#' %></li>
    </ul>
  </div>
</div>

<div class="book-list-wrapper">

  <h2 class="contents-title">登録本リスト</h2>

  <ul class="book-lists">

    <% @books.each do |book| %>
        <li class='list'>
          <%= link_to book_path(book.id) do %>
            <div class="list-container">
              <div class='book-img-content'>
                <%= image_tag book.image_url, class: "book-img" %>
              </div>
              <div class='book-info'>
                <div class='book-title'>
                  <%= book.title %>
                </div>
                <div class='book-publisher'>
                  <%= book.publisher %>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>

  </ul>
  <div class="pagination">
     <%= will_paginate @books %>
    <%# <%= will_paginate @books, renderer: BootstrapPagination::Rails %>
    <%# <%= will_paginate(@books, renderer: WillPaginate::ActionView::BootstrapLinkRenderer) %>
  </div>
</div>

<%= render "shared/footer" %>