<%= render "shared/header" %>

<div class="main">
  <div class="main-contents">
    <div class="contents-title"><span>■</span>本を検索する</div>

    <div class="section-title">キーワード検索</div>
      <div class="book-search">
          <%= form_with(url: '#', method: :get, local: true) do |f| %>
            <%= f.text_field :keyword, placeholder: "タイトル、キーワードなど", class: "keyword" %>
            <%= f.submit "検索", class: "submit" %>
          <% end %>
      </div>

    <div class="section-title">ジャンル検索</div>
      <ul class="genre-list">
        <li class="genre-menu"><%= link_to 'ビジネス書', '#' %></li>
        <li class="genre-menu"><%= link_to '技術書', '#' %></li>
        <li class="genre-menu"><%= link_to '雑誌', '#' %></li>
        <li class="genre-menu"><%= link_to 'その他', '#' %></li>
      </ul>
  </div>
</div>

<div class="book-list-wrapper">

  <h2 class="contents-title">登録本リスト</h2>

  <ul class="book-lists">

    <% @books.each do |book| %>
        <li class='list'>
          <%# <%= link_to book_path(book.id) do %>
          <%= link_to '#' do %>
            <div class='book-img-content'>
              <%= image_tag book.image_url, class: "book-img" %>
            </div>
            <div class='book-info'>
              <h3 class='book-title'>
                <%= book.title %>
              </h3>
              <h3 class='book-publisher'>
                <%= book.publisher %>
              </h3>
            </div>
          <% end %>
        </li>
      <% end %>
  </ul>

</div>