<%= render "shared/second-header" %>

<div class="confirmation-dialog-wrapper" id="confirmation-dialog" >
  <div class="container">
    <div id="close-btn">
        <i class="fa-solid fa-xmark fa-2x"></i>
    </div>
    <h3>登録確認</h3>
    <p>以下の情報で本を登録しますか？</p>
    <%= form_with model: @book, local: true do |f| %>
      <%= f.text_field :title, placeholder: "本のタイトル", id: "book_title" %>
      <%= f.text_field :publisher, placeholder: "出版社", id: "book_publisher" %>
      <%= f.text_field :image_url, placeholder: "Image url", id: "book_image_url" %>
      <%= f.submit "登録する" %>
    <% end %>
  </div>
</div>

<div class="reg-book-wrapper">
  <h3 class="section-title">登録する本の情報を検索する</h3>

  <div class="search">
    <input id="key" class="keyword" type="text" placeholder="Google ブックスから検索">
    <button id="search" class="search-btn">検索</button>
  </div>

  <div>
    <table id="books">
      <tr>
        <td class="item-name">本のタイトル</td>
        <td class="item-name">出版社</td>
        <td class="item-name">画像</td>
      </tr>
    </table>
  </div>
</div>

