<%= render "shared/second-header" %>

<div class="confirmation-dialog-wrapper" id="confirmation-dialog" >
  <div class="container">
    <div id="close-btn">
        <i class="fa-solid fa-xmark fa-2x"></i>
    </div>
    <h3>登録確認</h3>
    <p>以下の情報で本を登録しますか？</p>
    <%= form_with model: @book, local: true do |f| %>
      <%= f.text_field :title, placeholder: "本のタイトル", id: "book_title" %>
      <%= f.text_field :publisher, placeholder: "出版社", id: "book_publisher" %>
      <%= f.text_field :image_url, placeholder: "Image url", id: "book_image_url" %>
      <%= f.submit "登録する" %>
    <% end %>
  </div>
</div>

<div class="reg-book-wrapper">
  <h3 class="section-title">登録する本の情報を検索する</h3>

  <div class="search">
    <input id="key" class="keyword" type="text" placeholder="Google ブックスから検索">
    <button id="search" class="search-btn">検索</button>
  </div>

  <div>
    <table id="books">
      <tr>
        <td class="item-name">本のタイトル</td>
        <td class="item-name">出版社</td>
        <td class="item-name">画像</td>
      </tr>
    </table>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>

  $(document).ready(function() {
    $("#close-btn").on("click", function(){
      $("#confirmation-dialog").hide();
    });
  });

  $("#search").on("click", function(){
    const url = "https://www.googleapis.com/books/v1/volumes?q="+$("#key").val();
    $.ajax({
      url: url,
      dataType: "json"
    }).done(function(data) {
      console.log(data);
      const len = data.items.length;
      let html = "";
      for(let i=0; i<len; i++){
        if(typeof data.items[i].volumeInfo.publisher=="undefined"){
          data.items[i].volumeInfo.publisher="出版社(不明)";
        }
        let thumbnail = "";
        if (data.items[i].volumeInfo.imageLinks) {
          thumbnail = data.items[i].volumeInfo.imageLinks.smallThumbnail;
        }
        html += `
          <tr>
            <td>${data.items[i].volumeInfo.title}</td>
            <td>${data.items[i].volumeInfo.publisher}</td>
            <td>
              <a target="_blank" href="${data.items[i].volumeInfo.infoLink}">
                <img src="${thumbnail}">
              </a>
            </td>
            <td><button class="selectBook" data-index="${i}">選択</button></td>
          </tr>
        `;
      }
      $("#books").empty().hide().append(html).fadeIn(1000);

      $(".selectBook").on("click", function(){
        const index = $(this).data("index");
        const bookData = {
          title: data.items[index].volumeInfo.title,
          publisher: data.items[index].volumeInfo.publisher,
          image: data.items[index].volumeInfo.imageLinks ? data.items[index].volumeInfo.imageLinks.smallThumbnail : "",
        };

        $("#book_title").val(bookData.title);
        $("#book_publisher").val(bookData.publisher);
        $("#book_image_url").val(bookData.image);

        $("#confirmation-dialog").fadeIn();

        // フォームの各フィールドに値が挿入された後、自動的にフォームを送信する
        $("#book_form").submit();
      });

    });
  });
</script>