<div class="book-show-wrapper">

  <div class="book-show">
    <h2 class="title">
      <%= @book.title %>
    </h2>
    <div class="book-box">
      <div class="book-img-content">
        <%= image_tag @book.image_url ,class:"book-box-img" %>
      </div>
      <h3 class="publisher">
        <%= @book.publisher %>
      </h3>
    </div>

    <div id="book-status">
      <% if user_signed_in? %>
          <% if @book.loans.present? && @book.loans.find_by(returned: false) %>
            <p class="status-btn pink">貸出中</p>
            <% if user_signed_in? && @book.loans.find_by(returned: false).user_id == current_user.id %>
              <%= link_to "返却する", edit_book_loan_path(@book, @book.loans.find_by(returned: false)), class: "book-red-btn" %>
            <% end %>
          <% else %>
            <p class="status-btn blue">貸出可</p>
            <%= link_to "貸出を申請する", new_book_loan_path(@book.id), class: "book-red-btn" %>
          <% end %>
      <% end %>
    </div>

  </div>


  <div class="links">
      <a href="#" class="change-book-btn">
        ＜ 前の本
      </a>
      <a href="#" class="change-book-btn">
        後ろの本 ＞
      </a>
    </div>
</div>